html {
  background-color: #35654d;
}
.table {
  background-color: #35654d;
  padding-bottom: 100px;
}

p {
  font-weight: 700;
  font-size: 20px;
}

button:focus {
  outline: none;
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

#count {
  position: absolute;
}

.chips {
  border-radius: 50%;
  border: none;
  color: white;
  height: 50px;
  width: 50px;
  flex-shrink: 0;
  margin-bottom: 2.5px;
  margin-right: 5px;
  position: relative;
  box-shadow: 2px 2px black;
}

.one {
  background-image: url(images/blue-chip.png);
  object-fit: cover;
}

.five {
  background-image: url(images/red-chip.png);
  object-fit: cover;
}

.twenty {
  background-image: url(images/green-chip.png);
  object-fit: cover;
}

.fifty {
  background-image: url(images/black-chip.png);
  object-fit: cover;
}

.clear, .x2 {
  background-color: #35654d;
  position: relative;
  right: 5px;
  border: 0;
  color: white;
  position: relative;
}

.clear, .x2, .chips {
    top: 100px;
  }

#count-toggle {
  top: 70px;
  background-color: #35654d;
  color: white;
}

.player {
  top: 100px;
}

.card {
  background-color: #35654d;
  height: 70px;
  width: 50px;
  display: block;
  margin-left: -15px;
  margin-top: 15px;
  box-shadow: 1px 1px black;
}

.dealerCards, .playerCards {
  margin-left: 25px;
}

img[src=""] {
  display: none;
}

.moves {
  display: block;
  margin-top: 10px;
  margin-right: 10px;
  border: 1px solid black;
  background-color: #35654d;
  color: white;
  width: 70px;
  height: 60px;
}

.moves-container {
  padding-top: 100px;
  margin-right: -15px;
}

#message {
  position: absolute;
  margin-top: 45px;
}

.hidden {
  display: none;
}

@media (max-width: 400px) {
  .card {
    height: 70px;
    width: 50px;
    left: 20px;
  }
  #message {
    margin-top: 45px;
  }
}

@media (min-width: 576px) {  
  .card {
    height: 105px;
    width: 75px;
  }
}

@media (min-width: 768px) {  
  .card {
    height: 140px;
    width: 100px;
    margin-left: -30px;
  }
  .clear {
    margin-left: 5px;
    margin-right: 15px;
  }
}
 
